.zodiac-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.zodiac-calculator input {
    text-align: center;
}

.zodiac-calculator button {
    padding: 0.5rem;
}

#zodiac-result {
    margin-top: 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#search-result-icon {
    display: flex;
    justify-content: center;
}

#search-result-icon img {
    width: 20%;
    padding: 5%;
    background-color: var(--main-red);
    border: outset var(--main-gold) 10px;
    cursor: pointer;
    border-radius: 50%;
}

#great-race {
    display: flex;
    flex-direction: column;
    margin: 3rem 15vw;
    line-height: 1.7rem;
    gap: 2rem;
}
#great-race strong {
    color:var(--main-red);
}
#great-race hr {
    color:var(--main-red);
    margin: 2rem 0;
}
#great-race h2 {
    text-align: center;    
    color:var(--main-red);
    font-size: 2rem;
}

#cat {
    padding: 2rem 0;
}

#credit {
    display: flex;
    justify-content: center;
    padding: 10vh 0;
}