.zodiac-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.zodiac-calculator input {
    text-align: center;
}

.zodiac-calculator button {
    padding: 0.5rem;
}

#search-result-icon {
    display: flex;
    justify-content: center;
}

#search-result-icon img {
    width: 20%;
    padding: 5%;
    background-color: var(--main-red);
    border: outset var(--main-gold) 10px;
    cursor: pointer;
    border-radius: 50%;
}