#banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vh 5vw;

}

#banner img {
    width: 5%;
}

#zodiac-selector{
    display: flex;
    margin: 5vh 5vw 50px;
    gap: 1%;
    justify-content: center;
}

#zodiac-selector img{
    width: 90%;
    padding: 5%;
    background-color: var(--main-red);
    border: outset var(--main-gold) 10px;
    cursor: pointer;
    border-radius: 50%;
    transition-property: transform, box-shadow;
    transition-duration: 0.5s;
}

#zodiac-selector img:hover{
    box-shadow: 10px 20px 10px black;
    transform: translateY(-20px);
}
