/* Site-specific header */
main h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-gold);
    margin: 3% 0 1%;
    border-bottom: solid var(--main-red) 10px;
    border-top: solid var(--main-red) 10px;
}
#zodiac-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
#zodiac-icon img{
    border-radius: 50%;
    width: 20%;
    background: var(--main-red);
    border: outset var(--main-gold) 15px;
}

#years {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 50px;
}

#quick-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 1%;
    margin: 10px 10vw;
}
#quick-scroll a{
    margin: 10px;
    text-decoration: none;
    color: white;
    background: var(--main-red);
    font-weight: 700;
    font-size: 1rem;
    padding: 20px;
    border-radius: 20px;
    border: solid var(--main-gold) 5px;
    flex-wrap: wrap;
    transition-duration: 0.5s;
    transition-property: background, color;
}
#quick-scroll a:hover{
    color: var(--main-red);
    background: white;
}

/* Content */
section {
    margin: 10vh 15vw;
    font-size: 1rem;
    border-bottom: solid var(--main-red) 3px;
}

section h2, section h3, section h4, section h5 {
    text-transform: capitalize;
}

section h2, section h3 {
    color: var(--main-red);
    margin: 20px 0;
}

section p {
    padding-bottom: 20px;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    
}
#backtotop{
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-bottom: 200px;
}
#backtotop a{
    font-size: 5rem;
    color: black;
    font-weight: 900;
    text-decoration: none;
}
#backtotop img{
    width: 5%;
}
